.container {
  font-family: "Lucida Console";
  color: #555555;
  margin-left: 4vh;
  margin-right: 4vh;
}

.headers {
  margin-top: 2vh;
  font-size: 24px;
  text-align: center;
}

.bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4vh;
}

.search-group {
  margin-top: 2vh;
}

.button-group {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
}

.thead {
  color: #fbf7f0;
  background-color: #555555;
}

.thead-group {
  display: flex;
}

.sort-button {
  margin-left: 1vh;
  border-radius: 50%;
}

.submit-button {
  color: #555555;
  background-color: #cdc9c3;
  font-weight: bold;
  border-radius: 3px;
  padding: 10px 24px;
  margin-right: 1vh;
}

.submit-disable-button {
  color: #27496d;
  background-color: #dddddd;
  cursor: not-allowed;
  font-weight: bold;
  border-radius: 3px;
  padding: 10px 24px;
}

.user-container {
  font-family: "Lucida Console";
  color: #555555;
  margin-left: 45vh;
  margin-right: 45vh;
  text-align: center;
}

.user-main {
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: flex;
}

.user-button-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
